
//changed variables
$navbar-light-toggler-border-color: rgba(black, .1) ;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{white}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;




// color variables

$primary-dark : #171717;
$secondary-gray: #444444;
$red:#DA0037;
$whity:#EDEDED;

$gradient:linear-gradient(to right,rgba($primary-dark,1),rgba($secondary-gray,1));





@import '../node_modules/bootstrap/scss/bootstrap.scss';