
// color variables

$primary-dark : #171717;
$secondary-gray: #444444;
$red:#DA0037;
$whity:#EDEDED;

$gradient:linear-gradient(to right,rgba($primary-dark,1),rgba($secondary-gray,1));





@import '../node_modules/bootstrap/scss/bootstrap.scss';